@import "./base.scss";
@import "./index.scss";
$color-white: #fff;
$color-black: #010305;
$color-black3: #333333;
$color-blue: #409eff;

/*   背景颜色   */
$bg-color: #f5f7f8;
$bg-color-isActive: #e8f4ff;
$bg-color-grey3: #39414c;
$bg-color-grey4: #48525c;

/*  边的颜色   */
$border-color: #dcdfe6;

/*  阴影层   */
$box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
$box-shadow-white: -1px -1px 2px rgb(255 255 255 / 50%);

/*  文本颜色 */
$text-color-black: #010305;
$text-color-default: #333333;
$text-color-grey6: #666;
$text-color-grey9: #999;
$text-color-ddd: #ddd;

/*  字体大小  */
$font-size10: 10px;
$font-size14: 14px;
$font-size16: 16px;
$font-size20: 20px;
$font-size24: 24px;
$font-size36: 34px;
